.project-container{
    position: relative;
    padding: 20px;
    width: 96%;
    margin: auto;
    /* background-color: white; */
}

.project-container::after,
.project-container::before{

    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    position: absolute;
    z-index: -1;

}

.project-container::after{
    top: -3rem;
    left: -5rem;
}

.project-container::before{
    bottom: 0rem;
    right: 0rem;
}
.project-container h5{
    font-size: 2rem;
    font-weight: 600;
    color: gray;
    margin-left: 20px;
}
.project-container hr{
    width: 200px;
    height: 0.4rem;
    background: rgb(2, 88, 88);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.arrow-right,
.arrow-left{

    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6751b9;
    border-radius: 0.65rem;
    border: 1.5px solid cyan;
    background: #130f2a;
    position: absolute;
    top: 55%;
    z-index: 2;
    cursor: pointer;
}

.arrow-left span,
.arrow-right span{
    font-size: 2rem;
    font-weight: 500;
}
.arrow-left{
    left: -2rem;
}

.arrow-right{
    right: -2rem;
}

@media(max-width:1025px){
    .arrow-left{

        left: 0rem;
    }

    .arrow-right{

        right: 0rem;
    }
}

@media(max-width:768px){
    .project-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .arrow-left{

        left: -1rem;
    }

    .arrow-right{
        right: -1rem;
    }
}