.education-container{
    margin: 4rem 0;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    /* background-color: rgb(247, 244, 244); */
    width: 90%;
    margin: auto;
    margin-top: 1px;
}

.education-container h5{
    font-size: 2.2rem;
    font-weight: 600;
    color: gray;
    margin-left: 20px;
    margin-top: 20px;

}
.education-container span{
    text-align: center;
}
.education-container hr{
    height: 0.4rem;
    width: 200px;
    background: rgb(2, 67, 67);
    border-radius: 20px;
    position: relative;
    margin: auto;
}
.education-content{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
}

.education-left{
    width: 100%;
    grid-column: 1;
    flex: 1;
}
.education-right{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem 0;
    flex: 1;
}
.education-left ul li{
    list-style: none;
}
.education-left ul li.date-field{
    width: 100%;
}
.date-field{
    color: orangered;
}

.timeline-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  
  .timeline-line {
    position: absolute;
    width: 4px;
    background-color: #fcd9c5; /* light orange */
    height: 100%;
  }
  
  .dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-color: #f97316; /* darker orange */
    border-radius: 50%;
  }
  .tagged-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1f2937; /* dark gray */
  }
  
  .code-tag {
    background-color: transparent;  /* light purple */
    color: #7c3aed;             /* purple */
    padding: 6px 12px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 1.95rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  .tag-text {
    color: rgb(75, 74, 74); /* darker gray for the actual word */
    font-weight: bold;
  }
  
  

@media(max-width:768px){
    .education-container{
        width: 100%;
    }
    .education-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
    .education-content .education-left{
        width: 100%;
        padding: 0;
        flex: 0;
    }
    .education-content .education-right p{
        font-size: 12px;
    }
    .education-content .timeline-line{
        margin-right: 40px;
    }
    .education-content .timeline-container{
        height: 26%;
    }
    .tagged-title{
        font-size: 1.6rem;
    }
    .tag-text{
        font-size: 1.5rem;
    }
}
@media(max-width:1100px){
    .education-left{
        width: 200px;
    }
}
@media(max-width:580px){
    .education-content h4{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .education-right{
        width: auto;
        margin: 0;
    }
    .education-right ul{
        width: 90%;
        margin: 0;
    }
    .education-right ul li{
        font-size: 10px;
    }
}
