.experience-container{
    width: 90%;
    /* background-color: rgb(247, 244, 244); */
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
    border-radius: 8px;
}

.experience-container::after,
.experience-container::before{

    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    position: absolute;
    z-index: -1;
    filter: blur(200px);

}

.experience-container::after{
    top: -3rem;
    left: -5rem;
}

.experience-container::before{
    bottom: 0rem;
    right: 0rem;
}
.experience-container h5{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
    color: gray;
}
.experience-container hr{
    width: 200px;
    height: 0.4rem;
    background: rgb(3, 126, 126);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}


@media(max-width:1025px){
    .arrow-left{

        left: 0rem;
    }

    .arrow-right{

        right: 0rem;
    }
}

@media(max-width:768px){
    .experience-container{
        width: 98%;
    }
    .experience-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .arrow-left{

        left: -1rem;
    }

    .arrow-right{
        right: -1rem;
    }
}