/* ScrollToTop.css */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 14px;
    cursor: pointer;
    font-size: 18px;
    z-index: 999;
    transition: opacity 0.3s ease;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  
  .scroll-to-top:hover {
    background-color: #555;
  }
  