.work-experience-card{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 40px;
    margin: auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.work-experience-card h6{
    font-size: 1.05rem;
    font-weight: 500;
    margin: 0.7rem;
}

.work-duration{
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 400;
    color: orangered;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
}

.work-experience-card ul li{

    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}

.work-experience-card ul li:after{
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: cyan;
    border-radius: 0.5rem;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;
}

.work-experience-card .timeline-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
  }
  
  .work-experience-card .timeline-line {
    position: absolute;
    width: 4px;
    background-color: #fcd9c5; /* light orange */
    height: 100%;
    margin-right: 40px;
  }
  
  .dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background-color: #f97316; /* darker orange */
    border-radius: 50%;
  }
@media(max-width:768px){
    .work-experience-card{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        gap: 0;
        margin-top: 20px;
    }

    .work-experience-card h6{
        font-size: 0.95rem;
    }

    .work-experience-card ul li{
        font-size: 0.75rem;
    }
    .work-experience-card .timeline-container{
        height: 42%;
    }
}