.project-card{
    background: transparent;
    padding: 1.5rem;
    margin: 0 1rem;
    display: flex;
    gap: 30px;
    margin-top: 20px;
    /* background-color: white; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.project-card.active{
    background:  transparent;
} 
.project-card h6{
    font-size: 1.05rem;
    font-weight: 500;
    margin: 0.7rem;
}

.project-card .project-images{
    width: 100%;
    height: 200px;
    margin: auto;
}

.project-image-container{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
    align-items: center;
    width: 420px;
    height: 220px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.project-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-card ul li{

    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}

.project-card ul li:after{
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #6751b9;
    border-radius: 0.5rem;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;
}

.github-link {
    display: inline-flex;
    align-items: center;
    color: #333;
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.github-link:hover {
    color: #6e5494; /* GitHub purple */
}


@media(max-width:768px){

    .project-card{
        margin: 0;
        flex-direction: column;
        margin-top: 20px;
    }

    .project-card h6{
        font-size: 0.95rem;
    }

    .project-card ul li{
        font-size: 0.75rem;
    }
    .project-image-container{
        width: 98%;
    }
    
}