.nav-wrapper{
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
    /* background-color: white; */
}

.nav-content{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* background-color: white; */
    padding: 10px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 1px 1px 4px gray;
}
.logo{
    width: 60px;
    height: 60px;
}
.nav-content ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;

}
.nav-content li{
    margin: 0 1.5rem;
    /* color: black; */
}
.menu-item{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    /* color: black; */
    position: relative;
    cursor: pointer;
}

.menu-item::before{
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}
.menu-item:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}
.contact-btn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgb(5, 162, 162);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3 ease;
}

.contact-btn:hover{
    color: #a993fe;
    background: #000;
    outline: 1.5px solid #a993fe;
}

.menu-btn{

    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}
.menu-btn:hover{
    color: #a993fe;
    background: #000;
    border: 1px solid #a993fe;
}
.menu-btn-and-theme-container{
    display: flex;
}
@media(max-width:768px){
    .nav-content{
        width: 96%;
    }
    .nav-content .social-media-icons{
        display: none;
    }
    .nav-wrapper{
        width: 100%;
        /* background-color: white; */
    }
    .nav-wrapper .nav-content{
        height: 50px;
    }
    img.logo{
        width: 40px;
        height: 40px;
    }
}
@media(max-width:425px){

    .logo{
        width: auto;
        height: 4rem;
    }
}
@media(max-width:769px){
    .menu-btn{
        display: block;
    }
    .nav-content ul{
        display: none;
    }
    .nav-content li{
        color: white;
    }
}