.footer{
    width: 100%;
    height: 140px;
    font-size: 0.8rem;
    text-align: center;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: white; */
}
.footer .social-media-icons{
    gap: 20px;
}
.footer .social-media-icons img{
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}