.contact-container{
    position: relative;
    padding: 2px;
    border-radius: 10px;
    margin-top: 60px;
    /* background-color: rgb(222, 220, 220); */
    padding: 20px 0;
}

.contact-container::after,
.contact-container::before{

    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    position: absolute;
    z-index: -1;

}

.contact-container::after{
    top: -3rem;
    left: -5rem;
}

.contact-container::before{
    bottom: 0rem;
    right: 0rem;
}

.contact-container h5{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 20px;
    color: gray;
}

.contact-container hr{
    width: 200px;
    height: 0.4rem;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.contact-content{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.contact-left-content{
    width: 50%;
}
.contact-left-content .left-cont{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.social-media-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.social-media-icons img{
    width: 30px;
    height: 30px;
    gap: 12rem;
    margin-left: 10px;
}
.social-media-icons img:hover{
    cursor: pointer;
    background: rgb(4, 165, 165);
    border-radius: 50%;
}
@media(max-width:768px){
    .contact-content{
        width: 90%;
        flex-direction: column;
    }
    .contact-content .contact-form-container{
        width: 100%;
    }

    .contact-container h5{
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
    .contact-left-content{
        width: 90%;

    }
}