.about-mr-container{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.about-mr-container .about-me-contents{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.about-me-right .about-me-details-card{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.about-me-contents .about-me-left{
    width: 100%;
}
.about-me-contents .about-me-left img{
    border-radius: 20px;
}
.about-me-contents .about-me-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
}
.about-me-card-left ,.about-me-card-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-details span{
    color: rgb(86, 85, 85);
}

@media(max-width:768px){
    .about-mr-container .about-me-contents{
        width: 98%;
        flex-direction: column-reverse;
    }
    .about-me-left img{
        display: none;
        width: 100%;
        height: 400px;
        border-radius: 50%;
    }
    .about-me-right h1{
        font-size: 26px;
    }
    .about-me-details-card{
        width: 100%;
        gap: 20px;
        flex-direction: column;
    }
}